
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');


body {
    font-family: Plus Jakarta Sans, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    padding: 0px 64px;
    height: 72px;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
    justify-items: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
    border: 0.2px solid #1a1a1a;
    color: #1A1A1A;
}

.hero {
    position: relative;
    background: url(./assets/hero-image.jpg) center/cover no-repeat;
    height: 899px;
}

.overlay {
    position: absolute;
    top: 138px;
    right: 437px;
    width: 565px;
}

.welcomeHeading > h1 {
    font-size: 56px;
    color: #D4D4D4;
    background-color: #0A1E2C;
    width:auto;
    padding: 10px;
    border-radius: 10px;
    justify-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcomeContent {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.welcomeContent h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 115%;
    align-self: stretch;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0px;
}

.welcomeContent p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
}

.heroButtons {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    gap: 24px;
}

#bookButton {
    background-color: #2ECC71;
    height: 50px;
    width: 200px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
}

#learnMoreButton {
    background-color: transparent;
    height: 50px;
    width: 200px;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
    color: #1A1A1A;
}

.noHassle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 100px;
    
}

.cardContainer {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin-top: 61px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.noHassle > p {
    margin-top: 0px;
    color: #3F7D78;
    font-weight: 600;
    font-size: 16px;
}

.noHassle h2 {
    font-size: 32px;
    width: 600px;
    text-align: center;
}

.card > h3 {
    margin-bottom: 8px;
    padding: 0px 20px;
    color: #1e1e1e;
}

.card > p {
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 0px 20px;
    color: #3D3D3D;
}


.card > button {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    width: 310px;
    height: 44px;
    border-radius: 8px;
    border: none;
}

.explore {
    display: flex;
    max-width: 1200px;
    padding: 0px 100px;
    gap: 42px;
}

.exploreContents {
    display: flex;
    gap: 24px;
    max-width: 550px;
}

.exploreContentContainer > h2 {
    font-size: 40px;
    width: 600px;
    text-align: start;
}

.caption{
    margin-top: 0px;
    color: #3F7D78;
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
}

.explore img {
    max-width: 519px;
    height: auto;
}

.exploreBtns {
    display: flex;
    gap: 32px;
    margin-top: 24px;
}

#exploreLearnMoreBtn {
    height: 56px;
    width: 208px;
    padding: 10px;
    font-size: 20px;
    font-weight: 520;
    border: 0.5px solid #1e1e1e;
    background-color: #2ECC71;
    color: #1e1e1e;
    border-radius: 10px;
}

#exploreSignUpBtns {
    display: flex;
    height: 56px;
    width: 208px;
    padding: 10px;
    font-size: 20px;
    font-weight: 520;
    border: 0.5px solid #1e1e1e;
    background-color: transparent;
    color: #1e1e1e;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.explore2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.explore2 p {
    max-width: 600px;
    text-align: center;
}

.extraExplore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    gap: 40px;
    margin-bottom: 196px;
}

.extraExploreContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 80px;
}

.extraExploreContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
}

.extraExploreContent h3 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
}

.extraExploreContent p {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}

.mostPopular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 150px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 83px;
}

.titleContainer p {
    margin: 0;
}

.titleContainer h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.citiesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.cityCard {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    gap: 8px;
}

.cityCard p {
    display: flex;
    gap: 6px;
    padding: 10px 10px;
    margin: 0px;
    color: #1e1e1e;
    font-size: 16px;
}

.cityCard a {
    color: #1e1e1e;
    padding: 0 16px;
    margin: 0px;
    font-size: 12px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    padding: 0px 100px;
    margin-bottom: 240px;
}

.testimonialsContent > p {
    font-size: 24px;
    font-weight: 700;
    max-width: 700px;
    text-align: center;
}

.testimonialsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.testimonialsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rater {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px
}

.raterNameAndTitle {
    display: flex;
    flex-direction: column;
    /* gap: 0px; */
}

.raterNameAndTitle p {
    margin-top: 0%;
}

.raterNameAndTitle strong {
    margin-top: 10px;
}

.slider {
    display: flex;
    gap: 8px;
}

.dreamTrip {
    position: relative;
    background: url(./assets/Dream\ trip.jpg) center/cover no-repeat;
    height: 328px;
    margin-bottom: 132px;
}

.dreamTripOverlay {
    position: absolute;
    /* top: 72px; */
    /* left: 100px; */
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    align-content: center;
    padding: opx 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.dreamTripOverlay h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 64px;
}

.dreamTripOverlay p {
    color: #ffffff;
    font-size: 18px;
}

.dreamTripBtns {
    display: flex;
    gap: 28px;

}

.dreamTripStartBtn {
    background-color: #D5F5E3;
    width: 131px;
    height: 77px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.dreamTripLearnMoreBtns {
    background-color: rgba(255, 255, 255, 0.1);
    width: 131px;
    height: 77px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 120px 100px;
    background-color: #D6EAF8;
}

.tipsAndGuidesContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    /* width: auto; */
}

.tipAndGuide {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1), -1px -2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    gap: 0px;
    justify-content: space-between;
    width: 330px;
    background-color: #ffffff;
}

.writer {
    display: flex;
    gap: 10px;
    padding: 0px 10px;
}

.writerAndReadTime {
    display: flex;
    flex-direction: column;
}

.writerAndReadTime p {
    margin-top: 0%;
    color: #6D6D6D;
}

.writerAndReadTime strong {
    margin-top: 10px;
    color: #6D6D6D;

}

.tipAndGuide > p {
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #3D3D3D;
}


.tipAndGuide h4 {
    padding: 0px 10px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: #1E1E1E;
}


.tipAndGuide span {
    padding: 0px 10px;
    margin-top: 20px;
    color: #6D6D6D;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;

}

.quickLinks {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    padding: 0px 100px;
    margin: 0 100px
}

.About {
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 16px;
}

.About h3 {
    padding-bottom: 8px;
    margin: 0;
}

.About a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.Company {
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 16px;
}

.Company h3 {
    margin: 0;
    padding-bottom: 8px;
}

.Company a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.Support {
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 16px;
}

.Support h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin: 0;
}

.Support a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    margin: 0px;
}


.socials {
    display: block;
    flex: column;
}

.socials h3 {
    padding-bottom: 8px;
}


.socialIcons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    gap: 10px;

} 

.copyrightContents {
    font-size: 16px;
    border-top: 0.5px solid #0000006c;
    width: 100%;
    margin-top: 20px;
}

.copyrightContents p {
    text-align: center;
}

.logoAndEmail {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
}