@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primary-bg-color: #FFFFFF;
    --primary-color-300: #AAAAAA;
    --primary-color-400: #808080;
    --primary-color-500: #D5D5D5;
    --secondary-color: #D6EAF8;
    --secondary-color-base: #3498DB;
    --accent-color: #0F4426;
    --accent-color-base: #2ECC71;
    --text-color: #1A1A1A;
}

body{
    background-color: var(--primary-bg-color);
}

#nav-section{
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 4rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#nav-links img{
    width: 70px;
    text-align: center;
    padding-right: 10px;
}

#nav-section #nav-links{
    display: flex;
    padding-left: 10px;
}
#nav-section #nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#nav-section #nav-links i{
    vertical-align: middle;
    padding-left: 8px;
}
#nav-section #nav-links ul a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    padding: 0.7rem;
}

#nav-section #nav-links ul a:hover{
    background-color: var(--primary-color-500);
    border-radius: 5px;
}

#nav-section .right-links ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style-type: none;
}
#nav-section .right-links ul a{
    text-decoration: none;
    color: var(--secondary-color-base);
    padding: 0.8rem;
    font-size: 1rem;
}

#nav-section .right-links ul img{
    vertical-align: middle;
    width: 24px;
    padding-right: 5px;
}

#nav-section .right-links ul a:hover{
    text-decoration: underline;
}

main {
    display: flex;
    padding: 0 4rem;
    margin: 4rem 0;
}

.pay-with {
    display: flex;
    align-items: start;
    border: 1px solid #D4D4D4;
    background-color: rgba(214, 234, 248, 0.35);
}

.pay-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D4D4D4;

    /* padding: 10px; */
}

.pay-method h2 {
    padding: 30px 40px;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    background-color: #FDFDFD;
    white-space: nowrap;
}

.pay-method p {
    font-weight: 500;
}

.pay-option {
    display: flex;
    gap: 24px;
    width: 100%;
    padding: 20px 40px;
    border-right: 1px solid #D4D4D4;
}

.pay-option:nth-child(5) {
    background-color: rgba(213, 245, 227, 1);
}

#card-image {
    width: 24px;
    height: auto;
}

.pay-method-details {
    display: flex;
    flex-direction: column;
}

.detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
    padding: 20px 40px;
    height: 90px;
    width: 404px;
    background-color: #FDFDFD;
    border-bottom: 1px solid #D4D4D4;
}

.user-price-and-email {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.pay-method-details .detail-header img {
    width: 40px;
    height: auto;
    display: block;
}

.paypal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 24px 0;

}

.paypal-details > p {
    max-width: 325px;
    text-align: center;
}

.paypal-acct-detail-title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.paypal-acct-detail-title img {
    gap: 10px;
    margin-top: 10px;
}

.paypal-acct-detail-title p {
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

input {
    padding: 10px 20px;
    border-radius: 8px;
    width: 300px;
    height: 44px;
    border: 1px solid #AAAAAA;
    font-size: 16px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.price img {
    height: 16px;
    width: auto;
}

.price p {
    font-size: 20px;
}


.email-label {
    font-size: 16px;
}

.timer-content {
    margin-top: 20px;
}


.timer {
    color: #FF0000;
}

.make-payment-btn {
    background-color: #176639;
    padding: 12px 0px;
    width: 236px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.booking-summary {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 500px;
    margin-left: 80px;
}

.booking-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 100%;
}

.booking-info > p {
    margin-top: 20px;
}

.booking-info > h5 {
    margin-top: 20px;
}

.traveler {
    font-weight: 600;
}

.price-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.price-detail-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-detail-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-on-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.add-on-detail-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-on-detail-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total {
    display: flex;display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}


.total p {
    font-size: 16px;
    font-weight: 700;
}