@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primary-bg-color: #FFFFFF;
    --primary-color-300: #AAAAAA;
    --primary-color-400: #808080;
    --primary-color-500: #D5D5D5;
    --secondary-color: #D6EAF8;
    --secondary-color-base: #3498DB;
    --accent-color: #0F4426;
    --accent-color-base: #2ECC71;
    --text-color: #1A1A1A;
}

body{
    background-color: var(--primary-bg-color);
}

#nav-section{
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 4rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#nav-links img{
    width: 70px;
    text-align: center;
    padding-right: 10px;
}

#nav-section #nav-links{
    display: flex;
    padding-left: 10px;
}
#nav-section #nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#nav-section #nav-links i{
    vertical-align: middle;
    padding-left: 8px;
}
#nav-section #nav-links ul a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    padding: 0.7rem;
}

#nav-section #nav-links ul a:hover{
    background-color: var(--primary-color-500);
    border-radius: 5px;
}

#nav-section .right-links ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style-type: none;
}
#nav-section .right-links ul a{
    text-decoration: none;
    color: var(--secondary-color-base);
    padding: 0.8rem;
    font-size: 1rem;
}

#nav-section .right-links ul img{
    vertical-align: middle;
    width: 24px;
    padding-right: 5px;
}

#nav-section .right-links ul a:hover{
    text-decoration: underline;
}

main {
    display: flex;
    padding: 0 4rem;
    margin: 4rem 0;
}

.pay-with {
    display: flex;
    align-items: start;
    border: 1px solid #D4D4D4;
    background-color: rgba(214, 234, 248, 0.35);
}

.pay-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D4D4D4;

    /* padding: 10px; */
}

.pay-method h2 {
    padding: 30px 40px;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    background-color: #FDFDFD;
}

.pay-option {
    display: flex;
    gap: 24px;
    width: 100%;
    padding: 20px 40px;
    border-right: 1px solid #D4D4D4;
}

.pay-option:nth-child(4) {
    background-color: rgba(213, 245, 227, 1);
}

#card-image {
    width: 24px;
    height: auto;
}

.pay-method-details {
    display: flex;
    flex-direction: column;
}

.detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
    padding: 20px 40px;
    height: 90px;
    /* width: 320px; */
    background-color: #FDFDFD;
    border-bottom: 1px solid #D4D4D4;
    /* border-left: none; */
}

.user-price-and-email {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.pay-method-details .detail-header img {
    width: 40px;
    height: auto;
    display: block;
}

.bank-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 48px 48px;
}

.bank-details h4 {
    /* margin: 48px 76px; */
    max-width: 272px;
}

.account-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 32px 0px;

}

.detail-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-title p {
    font-size: small;
    /* font-weight: 400; */
}

.detail-data p {
    font-size: 14px;
    font-weight: 400;
}

.bank-details > p {
    max-width: 325px;
    /* margin-top: 48px; */
}

.make-payment-btn {
    background-color: #176639;
    padding: 12px 0px;
    width: 236px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}