@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-bg-color: #ffffff;
  --primary-color-300: #aaaaaa;
  --primary-color-400: #808080;
  --primary-color-500: #d5d5d5;
  --secondary-color: #d6eaf8;
  --secondary-color-base: #3498db;
  --secondary-color-base-cards: #f0f7fb;
  --accent-color: #0f4426;
  --accent-color80: #176639;
  --accent-color100: #092917;
  --accent-color-base: #2ecc71;
  --text-color: #1a1a1a;
}

body {
  background-color: var(--primary-bg-color);
}

#nav-section {
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4rem;
  margin-bottom: 40px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#nav-links img {
  width: 70px;
  text-align: center;
  padding-right: 10px;
}

#nav-section #nav-links {
  display: flex;
  padding-left: 10px;
}
#nav-section #nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

#nav-section #nav-links i {
  vertical-align: middle;
  padding-left: 8px;
}
#nav-section #nav-links ul a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  padding: 0.7rem;
}

#nav-section #nav-links ul a:hover {
  background-color: var(--primary-color-500);
  border-radius: 5px;
}

#nav-section .right-links ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}
#nav-section .right-links ul a {
  text-decoration: none;
  color: var(--secondary-color-base);
  padding: 0.8rem;
  font-size: 1rem;
}

#nav-section .right-links ul img {
  vertical-align: middle;
  width: 24px;
  padding-right: 5px;
}

#nav-section .right-links ul a:hover {
  text-decoration: underline;
}

/* Dropdown top Sections*/
.upper-btn {
  display: flex;
  gap: 40px;
  margin: 40px 4rem;
}

.return {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-300);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  width: 250px;
  padding: 10px 25px;
  border-bottom: 1px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
}

.return h5 {
  background-color: var(--primary-bg-color);
  padding: 10px;
  border-radius: 10px;
}
.upper-btn .return #one-way {
  background-color: transparent;
  padding: 10px;
  border: 1px solid var(--primary-bg-color);
  border-radius: 10px;
}

.upper-btn .economy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.economy i {
  vertical-align: middle;
  padding-left: 5px;
  font-size: 16px;
}

.upper-btn .economy h5 {
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  width: 150px;
  padding: 20px 25px;
  border-bottom: 2px solid var(--primary-color-300);
  border-top: 2px solid var(--primary-color-300);
  border-radius: 10px;
  text-align: center;
  margin-right: 30px;
}

/* Review your flight styling */
.review {
  font-size: 38px;
  margin-left: 4rem;
}

/* Booking takeoff infomation */
.air-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2.5rem 4rem;
  justify-content: center;
}

.card-info-details {
  flex: 0 0 calc(50% - 1.2rem);
  background: var(--secondary-color-base-cards);
  border-radius: 12px;
  padding: 2.5rem;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.white-bg {
  background-color: var(--primary-bg-color);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-color-300);
  transition: 0.3s ease-in;
}
.white-bg:hover {
  background: var(--secondary-color-base-cards);
  border: none;
}

.air-peace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.air-peace p {
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--text-color);
}

.air-peace img {
  width: 18px;
  height: 18px;
}

.code {
  color: var(--primary-color-300);
  font-size: 0.75rem;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}

.takeoff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--primary-color-400);
}

.takeoff div {
  text-align: center;
  font-size: 0.8rem;
  color: var(--primary-color-400);
}

.takeoff img {
  width: 80px;
  margin: 0.5rem 0;
}

.takeoff-price {
  text-align: right;
  color: var(--secondary-color-base);
  font-weight: 600;
  font-size: 1.1rem;
}

/* Traveler information and contact details */
.traveler-info {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px;
}

.traveler-info p {
  font-size: 24px;
}

.traveler-info h2 {
  font-size: 38px;
}


/* Fill the form section */

.form-container {
  margin: 2.5rem 6rem;
}

.form-container p{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 700;
}

.form-container img{
  vertical-align: middle;
  width: 24px;
  margin-left: 10px;
}

.form-container > p:nth-of-type(2){
  margin-top: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact-details {
  display: flex;
  flex-direction: column; 
  flex: 1 1 45%;          
  min-width: 200px;    
  
  position: relative;
}

.contact-details label {
  margin-bottom: 10px;
}

.contact-details input {
  padding: 10px 50px;
  border-radius: 5px;
  border: 1px solid var(--primary-color-300);
  outline: none;

}

.contact-details #nationality{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: transparent;
}

.contact-details .form-control{
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-container .row:last-of-type .contact-details{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  min-width: 150px;
}

.form-container .row:last-of-type {
  gap: 2rem;  
  margin-top: 4rem;
}

main .submit{
  text-align: center;
}

.submit > button{
  width: 440px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: .1s ease-in-out;
}
.submit > button:hover{
  background-color: var(--accent-color100);
  cursor: pointer;
}

.submit a{
  color: var(--text-color);
  font-size: 14px;
}
.submit a:hover{
  font-weight: 600;
}

/* Footer section */
footer {
  margin: 5.5rem 4rem 0 4rem;
}
.copyright {
  display: block;
}
.copyright p {
  font-size: 14px;
}
