body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#D6EAF859;
    border-width: 1px;
    padding-right: 64px;
    padding-left: 64px;
    border: 1px solid #D4D4D4CC;
}
main {
    justify-self: center;
}
main h1 {
  width: 531px;
height: 52px;
top: 124px;
left: 408px;

font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 52px;
letter-spacing: 0%;
}
.msg {
  width: 624px;
height: 56px;
top: 209px;
left: 408px;

font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 28px;
letter-spacing: 0%;
}
.rectangles {
  display: flex;
  gap: 20px;
}
.rectangles:hover {
  cursor: pointer;
}
.rec {
  width: 77px;
height: 82px;
top: 324px;
left: 408px;
border-width: 1px;
border: 1px solid #AAAAAA
}
.rec {
  margin-top: 5%;
  margin-bottom: 10%;
}
.btn {
  width: 624px;
height: 56px;
top: 465px;
left: 408px;
border-width: 1px;
border-radius: 12px;
padding-top: 14px;
padding-right: 19px;
padding-bottom: 14px;
padding-left: 19px;
gap: 10px;
border: 1px solid #D4D4D4;
background: #AAAAAA;
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
}
.btn {
  margin-bottom: 5%;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: #8b8b8b;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(105, 2, 2, 0.2);
}
.question {
  width: 634px;
height: 45px;
top: 573px;
left: 408px;

font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
}
.question {
  margin-bottom: 5%;
}
.request {
  width: 634px;
height: 45px;
top: 573px;
left: 408px;

font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 22px;
line-height: 24px;
letter-spacing: 0%;
}
.request {
  margin-bottom: 3%;
  color: #2ECC71;
  padding-left: 34%;
}
.request:hover {
  cursor: pointer;
  color: rgb(2, 119, 2);
}
.back {
  width: 204px;
height: 28px;
top: 651px;
left: 618px;
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 28px;
letter-spacing: 0%;
color: #2ECC71;
}
.back {
  padding-left: 35%;
  cursor: pointer;
}
.back:hover {
  color: rgb(2, 119, 2);
}
.note {
    width: 527px;
    height: 47px;
    top: 880px;
    left: 456px;
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
}
.note {
  margin-bottom: 5%;
}
.terms, .privacy {
  font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;
color: #1A1A1A;
}
.terms, .privacy {
  cursor: pointer;
}
.terms:hover, .privacy:hover {
  color: rgb(148, 10, 10);
}


.copywrite {
    width: 389px;
    height: 20px;
    gap: 10px;
    width: 354px;
    height: 17px;
    top: 979px;
    left: 456px;
    gap: 11px;
     font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height:100%;
    letter-spacing: 0%;
}



 





@media (max-width: 500px) {
    .auth-container {
        margin: 1rem;
        padding: 1.5rem;
    }
}