body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#D6EAF859;
    border-width: 1px;
    padding-right: 64px;
    padding-left: 64px;
    border: 1px solid #D4D4D4CC;
}
main {
    justify-self: center;
}
main h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
}
.msg {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
}

.otp { 
display: grid; 
grid-auto-flow: column; 
grid-auto-columns: var(--size); 
gap: 10px; 
}
.otp-input {
gap: 20px;
width: 56px;
height: 56px;
text-align: center;
font-size: 22px;
letter-spacing: 2px;
border: 2px solid #c9cdd4;
outline: none;
background: #fff;
transition: border-color .15s ease, box-shadow .15s ease;
margin-bottom: 20px;
}
.otp-input:focus {
border-color: var(--border-focus);
box-shadow: 0 0 0 4px rgba(59,130,246,.15);
}





.btn {
  width: 100%;
  border-width: 1px;
  border-radius: 12px;
  padding: 14px 19px;
  gap: 10px;
  border: 1px solid #D4D4D4;
  background: #AAAAAA;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}
.btn {
  margin-bottom: 5%;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: #8b8b8b;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(105, 2, 2, 0.2);
}

#users-email {
  color: blue;
}
.question {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}
.question {
  margin-bottom: 5%;
}
.request {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
}
.request {
  margin-bottom: 3%;
  color: #2ECC71;
  padding-left: 34%;
}
.request:hover {
  cursor: pointer;
  color: rgb(2, 119, 2);
}
.back {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #2ECC71;
}
.back {
  padding-left: 35%;
  cursor: pointer;
}
.back:hover {
  color: rgb(2, 119, 2);
}
.note {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}
.note {
  margin-bottom: 5%;
}
.ca {
  color: red;
}
.terms, .privacy {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #1A1A1A;
}
.terms, .privacy {
  cursor: pointer;
}
.terms:hover, .privacy:hover {
  color: rgb(148, 10, 10);
}


.copywrite {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
}



 

    @media (max-width: 700px) {
    * {
    max-width: 100%;
   }
    header {
       padding-left: 5%;
    }
    .logo-container, .logo img {
        height: 40px;
        width: auto;
    }
    main {
        width: 90%;
    }
    main {
        width: 90%;
    }
    main h1 {
        font-size: 33px;
    }
    #users-email {
      font-size: 18.5px;
      width: 10px;
    }
    .msg {
        font-size: 19px;
    }
    .btn {
        width: 100%;
        font-size: medium;
        padding-right: 0;
        padding-left: 0;
    }
    .copywrite {
        font-size: 5px;
        font-style: italic;
    }
}
